/***
  CONTACT Details Styles
***/
.contact-details-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.contact-image-wrapper {
  /*margin-bottom: 2em;*/
}

.contact-text-wrapper {
  margin-left: 2em;
}

.contact-text-wrapper > p {
  margin-bottom: 0;
}

.contact-text-wrapper > p > a {
  margin-left: 0.5em;
}

@media screen and (max-width: 600px) {
  .contact-text-wrapper {
    margin-left: 0;
  }
  .contact-text-wrapper > p > a {
    color: #5c666f; /*nantucket*/
    border-bottom: 2px solid #9aabb9;
  }
}